# School Lunch Programs vs Obesity

Child obesity rate is for 2011.  
Data from: http://www.ncsl.org/research/health/childhood-obesity-trends-state-rates.aspx

School Characteristics for 2014-2015.  
Data from: https://nces.ed.gov/programs/stateprofiles/

ASSUME THAT the rates are the same for 2016 / present day; this is the latest data I could find for child obesity and school characteristics.

In [1]:
import numpy as np
import pandas as pd

School Characteristics - Free Lunch & Total Students

In [2]:
SchoolLunch = pd.read_csv('School_Lunch.csv')

In [3]:
SchoolLunch.head(3)

     State  Free Lunch Eligible  Total Students
0  Alabama               347632          744164
1   Alaska                50297          131176
2  Arizona               372669         1111695

In [4]:
SchoolLunch['Percent in Lunch Program'] = SchoolLunch['Free Lunch Eligible'] / SchoolLunch['Total Students']

In [5]:
SchoolLunch.head(3)

     State  Free Lunch Eligible  Total Students  Percent in Lunch Program
0  Alabama               347632          744164                  0.467144
1   Alaska                50297          131176                  0.383431
2  Arizona               372669         1111695                  0.335226

% of children Obese in each state

In [6]:
StateChildrenObese = pd.read_csv('StateChildrenObese.csv')

In [7]:
StateChildrenObese.head(3)

     State  Obese
0  Alabama  0.186
1   Alaska  0.140
2  Arizona  0.198

Merge both datasets (States are in the same alphabetical order for both)

In [8]:
Merge = pd.concat(objs=[SchoolLunch,StateChildrenObese],axis=1)

In [9]:
Merge.head()

,State,Free Lunch Eligible,Total Students,Percent in Lunch Program,State,Obese
0,Alabama,347632,744164,0.467144,Alabama,0.186
1,Alaska,50297,131176,0.383431,Alaska,0.140
2,Arizona,372669,1111695,0.335226,Arizona,0.198
3,Arkansas,262061,490917,0.533819,Arkansas,0.200
4,California,3114129,6312161,0.493354,California,0.151

In [10]:
Merge.to_csv('SchoolLunch_vs_Obesity.csv')